.allGadgets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.gadget-container {
    margin-left: 80px;
}

@media only screen and (max-width:577px) {
    .allGadgets {
        grid-template-columns: repeat(1, 1fr);
    }
}

.invent-btn {
    margin: 10px auto;
}